# Array Slicing and Indexing

In [1]:
import numpy as np

In [2]:
# This is a 1 dimensional array
arr1 = np.array([1,1,1,1])

In [3]:
# This is a 2 dimensional array, its a nested list inside of the parenthesis
arr2 = np.array([[1,1,1,1]])

In [4]:
arr1.shape

(4,)

In [5]:
arr2.shape

(1, 4)

## Slicing and Indexing

### Slicing and indexing a 1D array

In [6]:
array_1d = np.array([2,5,6,7,6,4,3])
array_2d = np.array([[2,5,6,7,60,47,3],[11,50,6,9,62,42,30],[16,53,86,69,2,2,50]])

In [7]:
array_1d

array([2, 5, 6, 7, 6, 4, 3])

In [8]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [9]:
# Indexing a 1D array is similar to lists, you type the index position inside of the square brackets
array_1d[4]

6

In [10]:
# Slicing is also is similar to lists, you type the start:stop:step position inside of the square brackets
array_1d[4:]

array([6, 4, 3])

In [11]:
# Remember that the stop argument is exclusive, this slice takes index 1 up to but not including index 6
array_1d[1:6]

array([5, 6, 7, 6, 4])

In [12]:
# A step of -1, it reverses the list
array_1d[::-1]

array([3, 4, 6, 7, 6, 5, 2])

### Slicing and indexing a 2D array

In [13]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [14]:
# Indexing/ slicing a 2D array requires the rows and column index or slice to be seperated by a comma
array_2d[1:,2:]

array([[ 6,  9, 62, 42, 30],
       [86, 69,  2,  2, 50]])

In [15]:
# Indexing element at row 3 (index 2) column 7 (index 6)
array_2d[2,6]

50

In [16]:
# Using a step of -1 on the rows will reverse the index on the 0 axis (the 0 axis goes down the rows)
array_2d[::-1,]

array([[16, 53, 86, 69,  2,  2, 50],
       [11, 50,  6,  9, 62, 42, 30],
       [ 2,  5,  6,  7, 60, 47,  3]])

In [17]:
# Using a step of -1 on the columns will reverse the index on the 1 axis (the 0 axis across down the columns)
# Note you must enter any value for the rows even'::' before indexing or slicing the columns
array_2d[::,::-1]

array([[ 3, 47, 60,  7,  6,  5,  2],
       [30, 42, 62,  9,  6, 50, 11],
       [50,  2,  2, 69, 86, 53, 16]])

## Boolean Array Indexing

In [18]:
array_1d

array([2, 5, 6, 7, 6, 4, 3])

In [19]:
# This conditional statement returns a boolean array
array_1d>3

array([False,  True,  True,  True,  True,  True, False])

In [20]:
# The conditional statement can be used to filter the array
array_1d[array_1d>3]

array([5, 6, 7, 6, 4])

In [21]:
array_2d

array([[ 2,  5,  6,  7, 60, 47,  3],
       [11, 50,  6,  9, 62, 42, 30],
       [16, 53, 86, 69,  2,  2, 50]])

In [22]:
array_2d>10

array([[False, False, False, False,  True,  True, False],
       [ True,  True, False, False,  True,  True,  True],
       [ True,  True,  True,  True, False, False,  True]])

In [23]:
# A flattened 1D array is returned when filtering via Boolean Array Indexing
array_2d[array_2d>10]

array([60, 47, 11, 50, 62, 42, 30, 16, 53, 86, 69, 50])

In [24]:
array_2d[array_2d>10].shape

(12,)

In [25]:
# But you can reshape it using the reshape function

In [26]:
array_2d[array_2d>10].reshape(2,6)

array([[60, 47, 11, 50, 62, 42],
       [30, 16, 53, 86, 69, 50]])

### You can assign values to multiple elements in an Array, unlike with a List

In [27]:
array_1 = np.array([1,1,2,3,4])

In [28]:
list_1 = [1,1,2,3,4]

In [29]:
# You an change the value of a single element in a List
list_1[0]=10

In [30]:
list_1

[10, 1, 2, 3, 4]

In [31]:
# But you can't change multiple elements with the below assignment operation
list_1[::]=10

TypeError: can only assign an iterable

In [32]:
# But you can with arrays, all elements are assigned the value of 10
array_1d[:]=10

In [33]:
array_1d

array([10, 10, 10, 10, 10, 10, 10])

## Links and Resources
* https://www.w3schools.com/python/numpy/numpy_array_indexing.asp
* https://www.w3schools.com/python/numpy/numpy_array_slicing.asp