# NumPy Overview

## Creating Arrays

Refer to the official NumPy documentation for more information on the Array Function here: https://numpy.org/doc/stable/reference/generated/numpy.array.html

In [2]:
import numpy as np

### Creating 1D Arrays

In [7]:
list1 = [1,2,3,4,5]

In [9]:
# Turning a list into a NumPy Array
x = np.array(list1)

In [10]:
type(x)

numpy.ndarray

In [11]:
np.shape(x)

(5,)

In [12]:
x.shape

(5,)

In [13]:
np.array([2,2,2,2])

array([2, 2, 2, 2])

In [14]:
# You can turn a tuple into an Array
np.array((3,3,3,3))

array([3, 3, 3, 3])

In [16]:
# The set is returned as a scalar object
np.array({1,1,1,1}).shape

()

### Creating 2D Arrays

In [17]:
# Passing a nested list into the array function to create a 2D Array
arr2d = np.array([[1,1,1],[2,2,2],[3,3,3]])

In [18]:
arr2d

array([[1, 1, 1],
       [2, 2, 2],
       [3, 3, 3]])

In [19]:
arr2d.shape

(3, 3)

In [20]:
list1

[1, 2, 3, 4, 5]

In [21]:
list2 = [6,7,8,9,10]

In [22]:
# Passing variables storing lists into the array function to create a 2D Array
arr2d_2 = np.array([list1,list2])

In [23]:
arr2d_2

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10]])

In [24]:
arr2d_2.shape

(2, 5)

## NumPy DataType Objects

https://numpy.org/doc/stable/user/basics.types.html

In [25]:
100/3

33.333333333333336

In [26]:
# longdouble is more precise than the default float64 datatype
np.longdouble(100)/np.longdouble(3)

33.333333333333333332

In [4]:
np.array([1,2,3.1453,5],dtype='float64')

array([1.    , 2.    , 3.1453, 5.    ])