# SQL Script for PostgreSQL

1. Create a New User/Password

```
-- Connect to the default database (postgres)
\c postgres

-- Create a new user with a password
CREATE USER sample_user WITH PASSWORD 'sample_password';

-- Grant privileges to the new user
ALTER USER sample_user WITH SUPERUSER;
```

2. Create a New Database and Schema

```
-- Create a new database
CREATE DATABASE sample_db;

-- Connect to the new database
\c sample_db

-- Create a new schema
CREATE SCHEMA sample_schema;
```

3. Create Tables with Sample Data

```
-- Create a sample table
CREATE TABLE sample_schema.sample_table (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    join_date DATE
);

-- Insert sample data into the table
INSERT INTO sample_schema.sample_table (name, age, join_date) VALUES
('Alice', 25, '2022-01-15'),
('Bob', 30, '2021-07-23'),
('Charlie', 35, '2023-03-30');
```

# Install Required Library in Conda

Open Anaconda Powershell and run following command

```
> conda install conda-forge::psycopg2-binary
```

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Database connection details
db_user = 'sample_user'
db_password = 'sample_password'
db_host = 'localhost'
db_port = '5432'
db_name = 'sample_db'

# Create a connection string
connection_string = f'postgresql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}'

connection_string

In [ ]:
# Create a database engine
engine = create_engine(connection_string)

In [ ]:
# Query to select data from the sample_table
query = "SELECT * FROM sample_schema.sample_table"

# Load data into a Pandas DataFrame
df = pd.read_sql(query, engine)

In [ ]:
# Display the DataFrame
print("DataFrame loaded from database:")
print(df)

In [ ]:
# Data Profiling
print("\nData Profiling:")
print("Shape of the DataFrame:", df.shape)
print("Data Types:\n", df.dtypes)
print("Summary Statistics:\n", df.describe())

In [ ]:
# Data Transformations
# Example: Add a new column calculating years since joining
df['years_since_joining'] = (pd.to_datetime('today') - pd.to_datetime(df['join_date'])).dt.days // 365

# Example: Filter data for age greater than 30
filtered_df = df[df['age'] > 30]

print("\nTransformed DataFrame:")
print(filtered_df)

In [ ]:
# Write the transformed DataFrame back to the database as a new table
filtered_df.to_sql('filtered_sample_table', engine, schema='sample_schema', if_exists='replace', index=False)
print("\nFiltered DataFrame written back to the database as 'filtered_sample_table'.")